@import '@vkontakte/vkui/dist/fonts.css';

* {
  font-family: 'VK Sans Display', sans-serif;
}

/* Стили leaflet */
.leaflet-control-attribution svg {
  display: none !important;
}

.leaflet-top {
  top: 50px;
}

/* Стили маркеров */
@keyframes fade {
  from {
    top: -5px;
    opacity: 0;
  }
}

@keyframes fade-cluster {
  from {
    opacity: 0;
  }
}

.fade {
  animation: fade 0.3s alternate ease-in-out;
}

.circle {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: red;
  border-radius: 100%;
  animation: fade 1s alternate;
}

.marker-cluster {
  animation: fade-cluster 0.8s alternate;
  color: black;
}

/* Кнопки */

.hover_button {
  background-color: red;
}
